// Base-Hostename
// Setup will add the MAC address to this string
// Needed for Over The Air (OTA) updates

#define HOSTNAME "ESP8266-OTA-"

// WiFi crendentials
const char* wifi_ssid = "YOUR-SSID";
const char* wifi_pass = "YOUR-PASSWORD";

// MQTT broker to send data to
const char mqttServer[] = "YOUR-MQTT-SERVER-IP";

// Set a user defined, fixed topic
// If this is empty the ESP will publish to the WiFi-MAC Adress per default
// It can be changed via a MQTT message to MAC/location with the new topic as payload
const char mqttUserTopic[] = "";

// How long to wait between measurements (in ms)
const unsigned int measureDelay = 30000;

// Minimum delay between two consecutive reads from DHT22 sensor. DHT22 should not be read
// more often than every 2 seonds.
// default: 2000 ms
const unsigned int dhtInterval = 2000;

